<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width" />
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>

<body>
  <wrapper class="body">
    <spacer size="24"></spacer>
    <container class="bg-row">
      <row>
        <columns  class="show-for-large" small="12" large="2"></columns>
        <columns small="12" large="10">
          <a class="logo" href="http://triolcorp.us"
            target="_blank">
            <img class="float-center" src="https://emails.triolcorp.com/img/120620/logo.png" alt="Triol">
          </a>
        </columns>
        <columns class="show-for-large" small="12" large="2"></columns>
      </row>
    </container>
    <spacer size="12"></spacer>
    <container>
      <row>
        <columns class="main-colums" small="12" large="12">
          <a href="https://triolcorp.us/products/triol-at24"
            target="_blank">
            <img class="float-center" src="https://emails.triolcorp.com/img/310720/at24.png" alt="Triol logo">
          </a>
          <div class="wrapp-main">
            <h1 class="main-title">Conquer the top of the market <br> with Triol Drives</h1>
          </div>
        </columns>
      </row>
      <row class="main-wrapp">
        <columns class="main-colums show-for-large" small="12" large="2"></columns>
        <columns class="main-colums" small="12" large="8">
          <h4 class="subtitle-main">
            9 Lines of LV VFDs for many applications
          </h4>
          <ul class="list-main">
            <li>1 …6,800hp power range</li>
            <li>IP21, IP54, IP55 enclosure protection rating</li>
            <li>rated HP = Heavy Duty HP. Power electronics and cooling system are rated as per HD application</li>
            <li>dynamic Brake, DC Choke, RFI C3, PID, Wi-Fi, PC connector etc are in basic package</li>
          </ul>
          <h4 class="subtitle-main">
            Engineering support and Product Customization
          </h4>
          <ul class="list-main">
            <li>exploratory development and designing</li>
            <li>power electronics design as per spec</li>
            <li>specific algorithms development for project’s application</li>
            <li>cabinets customization to meet footprint and environment challenges</li>
          </ul>
          <h4 class="subtitle-main">Let’s Get Market Leadership Together!</h4>
        </columns>
        <columns class="main-colums show-for-large" small="12" large="2"></columns>
      </row>
      <row class="main-wrapp">
        <columns class="main-colums show-for-large" small="12" large="1"></columns>
        <columns class="main-colums" small="12" large="5">
          <center>
            <div><!--[if mso]>
              <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://triolcorp.us/products/triol-at24" style="height:48px;v-text-anchor:middle;width:200px;" arcsize="17%" stroke="f" fillcolor="#FFBF00">
                <w:anchorlock/>
                 <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold;">Open product page</center>
              <![endif]-->
                  <a href="https://triolcorp.us/products/triol-at24" target="_blank"
            style="background-color:#FFBF00;border-radius:8px;color:#664D00;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:48px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;">Open product page</a>
              <!--[if mso]>
                </center>
              </v:roundrect>
            <![endif]--></div>
          </center>
        </columns>
        <columns class="main-colums" small="12" large="5">
          <center>
            <div><!--[if mso]>
              <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml" xmlns:w="urn:schemas-microsoft-com:office:word" href="https://triolcorp.us/implementations" style="height:48px;v-text-anchor:middle;width:200px;" arcsize="17%" strokecolor="#FFBF00" fillcolor="#000E29">
                <w:anchorlock/>
                <center style="color:#ffffff;font-family:sans-serif;font-size:16px;font-weight:bold;">Open implementations</center>
              </v:roundrect>
            <![endif]--><a href="https://triolcorp.us/implementations" target="_blank"
            style="background-color:#000E29;border:1px solid #FFBF00;border-radius:8px;color:#ffffff;display:inline-block;font-family:sans-serif;font-size:16px;font-weight:bold;line-height:48px;text-align:center;text-decoration:none;width:200px;-webkit-text-size-adjust:none;mso-hide:all;">Open implementations</a></div>
          </center>
        </columns>
        <columns class="main-colums" small="12" large="1"></columns>
      </row>
    </container>
    <spacer size="24"></spacer>
    <spacer size="24"></spacer>
    <container>
      <row class="bg-row">
        <columns small="12" large="12">
          <h2 class="text-center subtitle">Check our News section</h2>
          <p class="text-center sub-desc">Do not miss new elegant solutions!</p>
        </columns>
      </row>
      <row class="bg-row">
        <columns small="12" large="6">
          <a href="https://triolcorp.us/en/news/at24-strong-drive"
            target="_blank">
            <img class="float-center" src="https://emails.triolcorp.com/img/070720/news1.jpg" alt="Triol news">
          </a>
          <spacer size="10"></spacer>
          <h3 class="text-center news-title">AT24 STRONG DRIVE - HIGH PERFORMANCE LIFE!</h3>
          <center>
            <a class="link-more" target="_blank" href="https://triolcorp.us/en/news/at24-strong-drive">Read more <img src="https://emails.triolcorp.com/img/120620/arr.png" alt="Triol arr"> </a>
          </center>
        </columns>
        <columns small="12" large="6">
          <a href="https://triolcorp.us/en/news/hoisting-tool-electrical-cabinet"
            target="_blank">
            <img class="float-center" src="https://emails.triolcorp.com/img/070720/news2.jpg" alt="Triol news">
          </a>
          <spacer size="10"></spacer>
          <h3 class="text-center news-title">Hoisting Tool for Electrical Cabinet</h3>
          <spacer size="30"></spacer>
          <center>
            <a class="link-more" target="_blank" href="https://triolcorp.us/en/news/hoisting-tool-electrical-cabinet">Read more <img src="https://emails.triolcorp.com/img/120620/arr.png" alt="Triol arr"> </a>
          </center>
        </columns>
      </row>

      <row class="bg-row">
        <columns small="12" large="6">
          <a href="https://triolcorp.us/news/triol-at24-vfd-line-sd-power-cell"
            target="_blank">
            <img class="float-center" src="https://emails.triolcorp.com/img/310720/news3.jpg" alt="Triol news">
          </a>
          <spacer size="10"></spacer>
          <h3 class="text-center news-title">Triol АТ24 VFD line SD power cell</h3>
          <center>
            <a class="link-more" target="_blank" href="https://triolcorp.us/news/triol-at24-vfd-line-sd-power-cell">Read more <img src="https://emails.triolcorp.com/img/120620/arr.png" alt="Triol arr"> </a>
          </center>
        </columns>
        <columns small="12" large="6">
          <a href="https://triolcorp.us/news/transforming-world"
            target="_blank">
            <img class="float-center" src="https://emails.triolcorp.com/img/310720/news4.jpg" alt="Triol news">
          </a>
          <spacer size="10"></spacer>
          <h3 class="text-center news-title">Transforming the world</h3>
          <center>
            <a class="link-more" target="_blank" href="https://triolcorp.us/news/transforming-world">Read more <img src="https://emails.triolcorp.com/img/120620/arr.png" alt="Triol arr"> </a>
          </center>
        </columns>
      </row>
    </container>
    <container>
      <row class="bg-row">
        <columns small="12" large="12">
          <h2 class="text-center subtitle">Triol Product Catalogs</h2>
          <p class="text-center sub-desc">are available to download for free</p>
        </columns>
      </row>
      <row class="bg-row">
        <columns small="12" large="12">
          <a href="https://drive.google.com/file/d/1-rGNjb8Xd8almQ0rMiiUF25u52CaBTp2/view"
          target="_blank">
          <img class="float-center" src="https://emails.triolcorp.com/img/120620/cat1.jpg" alt="Triol Catalogs">
        </a>
        </columns>
      </row>
      <row class="bg-row">
        <columns small="12" large="12">
          <a href="https://drive.google.com/file/d/12HCiruHEj-6_UPiG0qphWhO3zluov2Jm/view"
          target="_blank">
          <img class="float-center" src="https://emails.triolcorp.com/img/120620/cat2.jpg" alt="Triol Catalogs">
        </a>
        </columns>
      </row>
    </container>
    <spacer size="12"></spacer>
    <container>
      <row class="bg-row">
        <columns small="12" class="show-for-large" large="3"></columns>
        <columns small="12" large="6">
          <center>
            <h4 class="copy">Copyright © Triol Corporation Ltd. <br>
              1993-2020. All Rights Reserved</h4>
            <menu>
              <item href="https://www.facebook.com/triolcorporation" target="_blank" valign="middle">
                <img src="https://emails.triolcorp.com/img/120620/facebook.png" alt="facebook">
              </item>
              <item href="https://www.linkedin.com/company/triolglobal/" target="_blank" valign="linkedin">
                <img src="https://emails.triolcorp.com/img/120620/linkedin.png" alt="linkedin">
              </item>
              <item href="https://www.youtube.com/channel/UCAptrtoob5_iQC8U09dDviw" target="_blank" valign="youtube">
                <img src="https://emails.triolcorp.com/img/120620/youtube.png" alt="youtube">
              </item>
            </menu>
          </center>
        </columns>
        <columns small="12" class="show-for-large" large="3"></columns>
      </row>
    </container>
    <spacer size="24"></spacer>
  </wrapper>



</body>

</html>